{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="row">	
			<article class="col-xs-12">	
				
				
				<div class="col-xs-12  col-sm-4">
					<img src="{{ data.product._.image.fit(750,450) }}" class="img-responsive">
				</div>


				<div class="col-xs-12 col-sm-8">
					<h1 class="product__title">{{ data.product.name }}</h1>	
					<p class="product__desc">{{ data.product.content.description }}</p>
					<a class="btn btn-success buy" data-buy='{{ data.product.vo }}'>In den Warenkorb</a><span class="product__price pull-right">SFr. {{data.product.content.price}}</span>	
				</div>
			

				
					
					
			</article>
		</div>
	</div>
{% endblock %}
