.checkout {
	&__list {
		display: none;
		width: 100%;
		height: 200px;
		background: red;
	}

	&--show {
		.checkout__list {
			display: block;
		}
	}
}


#checkout {
	display: none;
	.price {
		text-align: right;
	}

	tfoot {
		font-weight: bold;
	}
}
