.product {
	margin-bottom : 10px;

	&__image {
		width: 100%;
		height: auto;
	}

	&__title {
		margin-top: 10px;
		font-size: 18px;
		@include elipsis;
	}
	&__price {
		font-size: 22px;
		margin-right: 10px;
		font-weight: bold;
	}

}